.login-button {
  display: flex;
  justify-content: end;
  margin: 20px;
}

.login-message {
  margin-left: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-style: none;
  background: transparent;
  border-width: 0;
}

input:focus {
  outline: none;
}

.search-input {
  display: flex;
  border: none;
  border-bottom: 2px solid #515151;
  box-shadow: none;
  margin-left: auto;
  margin-right: 20px;
}
